**/__pycache__
.spyproject/
.vscode/
docs/source/notebooks/elicit/
elicit/simulations/LiDO_cluster/
elicit/results/
manuscript/
docs/source/notebooks/books/normal_model.ipynb
docs/source/notebooks/books/multilevel_model.ipynb
docs/source/notebooks/books/binomial_model.ipynb
docs/source/notebooks/books/poisson_model.ipynb
docs/source/notebooks/books/toy_deep_prior.ipynb
manuscript_non_parametric_joint_prior/sensitivity_results
manuscript_non_parametric_joint_prior/simulation_results
manuscript_non_parametric_joint_prior/experts